input.btn-color {
    width: 70px;
    height: 35px;
    background: white;
    margin: 4px;
    font-size: 14px;
    font-weight: 500;
}
input.orange {
    background-color: #fe5252;
    color: white;
}

/* CSS Notify */
a.dropdown-item.d-flex.align-items-center.notify:hover {
    background-color: #f9c3b8;
}
a.dropdown-item.d-flex.align-items-center.notify:hover div.small {
    color: white;
}
a.dropdown-item.d-flex.align-items-center.notify:hover span.noti {
    color: white;
}
a.dropdown-item.d-flex.align-items-center.notify:hover div.status {
    background: white;
}
a.dropdown-item.d-flex.align-items-center.notify {
    background: white;
}
div.small {
    color: #f9c3b8;
}
div.status {
    background: #f9c3b8;
}
span.noti {
    color: #b7b9cc;
}
/***/

div.purchase {
    display: flex;
    box-shadow: 2px 0px #888888;
    justify-content: space-around;
    background: white;
}
div.purchase a {
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    width: 33%;
    text-align: center;
}
div.purchase a._228ytk {
    border-bottom: 2px solid #ee4d2d;
    color: #ee4d2d;
}
div._32cw_C {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    background: white;
    margin-bottom: 12px;
}
div._3wGW0m {
    padding: 15px;
}
div.uhK5zO {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #ee4d2d;
    font-weight: 300;
    padding-bottom: 15px;
}
div._2hnmH- {
    display: flex;
    padding-top: 10px;
}
div._2U1-Hf {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
div.img {
    width: 10%;
}
.name_clothe {
    font-size: 16px;
    font-weight: 400;
}
.info_clothe {
    padding-left: 15px;
    width: 35%;
}
.name_clothe,
.color_clothe,
.quanity_clothe {
    margin-bottom: 8px;
}
.price_clothe {
    width: 60%;
    text-align: end;
    font-size: 14px;
    font-weight: 300;
    color: #ee4d2d;
}
.color_clothe,
.quanity_clothe {
    font-size: 13px;
}
._39ypT2 {
    padding: 15px;
}
.h0Jexl {
    display: flex;
    justify-content: flex-end;
}
._3LfHXA {
    font-size: 15px;
    font-weight: 400;
}
.isoXOF {
    font-size: 20px;
    font-weight: 300;
    color: #ee4d2d;
}
._3LfHXA,
.isoXOF {
    margin-left: 10px;
}
._2GvoV8 {
    padding: 15px;
}
.sCoiFR {
    display: flex;
    justify-content: flex-end;
}
.Vt1J92 {
    margin-left: 10px;
}
button.buy {
    background: #ee4d2d;
    color: white;
}
._379iT1 {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5fafbb923393b712b96488590b8f781f.png);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
._2WXGP9 {
    width: 100%;
    height: 600px;
    background: white;
}
._3D9BVC {
    background: white;
}
._3JT7RU > svg {
    height: 16px;
    font-size: 14px;
    margin: 0 5px 0 0;
}
.r47zxp {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
}
._3JT7RU > span,
._3JT7RU > svg {
    line-height: 16px;
    vertical-align: bottom;
}
.KoKVzf {
    margin: 0 16px;
}
._1fSsgT {
    color: #ee4d2d;
    text-transform: uppercase;
}
.goPE8B {
    padding: 40px 24px;
}
.stepper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.stepper__step {
    width: 140px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1;
}
.stepper__step-icon--finish {
    border-color: #2dc258;
    color: #2dc258;
}
.stepper__step-icon {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.875rem;
    border: 4px solid #2dc258;
    color: #e0e0e0;
    background-color: #fff;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.stepper__line {
    position: absolute;
    top: 29px;
    height: 4px;
    width: 100%;
}
.stepper__line-background,
.stepper__line-foreground {
    position: absolute;
    width: calc(100% - 140px);
    margin: 0 70px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stepper__step-text {
    text-transform: capitalize;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.25rem;
    margin: 1.25rem 0 0.25rem;
}
.stepper__step-date {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.26);
    height: 0.875rem;
}
.icon-order-order,
.icon-order-paid,
.icon-order-problem,
.icon-order-rating,
.icon-order-received,
.icon-order-shipping {
    stroke: currentColor;
}
.shopee-svg-icon {
    color: #2dc258;
}
._1DRlwq {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
}
._1gRBel {
    font-size: 12px;
}
._36cLcR {
    font-size: 13px;
    font-weight: 500;
}
._3JT7RU {
    cursor: pointer;
}
._2sX2A8 {
    padding: 3px 0;
}
._1AsWWl {
    height: 0.1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(
        45deg,
        #6fa6d6,
        #6fa6d6 33px,
        transparent 0,
        transparent 41px,
        #f18d9b 0,
        #f18d9b 74px,
        transparent 0,
        transparent 82px
    );
}
#Reviews img {
    border-radius: 50%;
}
#Reviews textarea {
    width: 100%;
}
#Reviews .row {
    margin-bottom: 20px;
}
.comment {
    background: #ee4d2d;
    color: white;
}
div.content span {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}
div.content {
    margin-bottom: 7px;
}
div.content span:last-child {
    cursor: pointer;
}
div.content p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}
.content i {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}
.content i:hover {
    color: #ee4d2d;
}
.reply {
    display: none;
}
.reply img {
    width: 40px;
}
.reply {
    margin: 20px;
}
.col-md-11,
.imgBox {
    padding: 0;
}
.scrolldown,
.scrollup {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 8px;
    cursor: pointer;
}
.scrolldown:hover,
.scrollup:hover {
    color: #ee4d2d;
}
.list-reply {
    padding-left: 15px;
}
.col-md-11 {
    display: flex;
}
.list-reply img {
    width: 40px;
}
.edit {
    display: none;
    font-size: 16px;
    
    width: 10%;
    height: 10px;
    float: right;
    margin-right: 15%;
}
#list-comment .row {
    cursor: pointer;
}
#list-comment .row:hover .edit {
    display: block;
}
.edit:hover i {
    color: #ee4d2d;
}
